<div id="<%= dom_id newscomment %>">
  <p>
    <strong>Conten:</strong>
    <%= newscomment.conten %>
  </p>

  <p>
    <strong>User:</strong>
    <%= newscomment.user_id %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= newscomment.news_id %>
  </p>

</div>