<h1>Editing comment</h1>

<%= render "form", newscomment: @newscomment %>

<br>

<div>
  <%= link_to "Show this comment", @newscomment %> |
  <%= link_to "Back to comments", newscomments_path %>
</div>
